In [109]:
import pandas as pd
import plotly.express as px
import numpy as np

# Data cleaning

In [110]:
df = pd.read_excel('data/data.xlsx')
df.head()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners
0,Region A,Country 1,2021-09-22,0012E00002b5a1J,Active,2021-09-28,NaN,2022-01-13 08:44:00,2.0
1,Region A,Country 8,2021-09-16,0012E00002b5Zvf,Active,2021-10-04,NaN,2022-01-13 13:26:00,4.0
2,Region C,Country 16,2021-10-01,0012E00002b8A7b,Active,2021-10-01,NaN,NaT,1.0
3,Region C,Country 16,2021-10-01,0012E00002b8Ail,Active,2021-10-01,NaN,NaT,1.0
4,Region C,Country 16,2021-10-01,0012E00002b8AMp,Active,2021-10-01,NaN,NaT,1.0

## Region column

In [111]:
set(df.Region)

{'Region A', 'Region B', 'Region C', 'Region D', 'Unknown'}

In [112]:
px.bar(df.groupby('Region').nunique().reset_index(), x='Region', y='Account ID')

In [113]:
region_unknown = df[df.Region == 'Unknown']
print(len(region_unknown))
region_unknown.head()

18

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners
38439,Unknown,Country 35,2022-01-14,0016R0000378qsz,Onboarding,NaT,NaN,NaT,NaN
38441,Unknown,Country 35,2022-01-14,0016R0000378qvc,Onboarding,NaT,NaN,NaT,NaN
38442,Unknown,Country 35,2022-01-14,0016R0000378qvh,Onboarding,NaT,NaN,NaT,NaN
38444,Unknown,Country 35,2022-01-14,0016R0000378qvm,Onboarding,NaT,NaN,NaT,NaN
38445,Unknown,Country 35,2022-01-14,0016R0000378qvr,Onboarding,NaT,NaN,NaT,NaN

## Country

In [114]:
set(df.Country)

{'Country 1',
 'Country 10',
 'Country 11',
 'Country 12',
 'Country 13',
 'Country 14',
 'Country 15',
 'Country 16',
 'Country 17',
 'Country 18',
 'Country 19',
 'Country 2',
 'Country 20',
 'Country 21',
 'Country 22',
 'Country 23',
 'Country 24',
 'Country 25',
 'Country 26',
 'Country 27',
 'Country 28',
 'Country 29',
 'Country 3',
 'Country 30',
 'Country 31',
 'Country 32',
 'Country 33',
 'Country 34',
 'Country 35',
 'Country 4',
 'Country 5',
 'Country 6',
 'Country 7',
 'Country 8',
 'Country 9'}

In [115]:
px.bar(df.groupby('Country').nunique().reset_index().sort_values('Account ID', ascending=False), x='Country', y='Account ID')

## First Closed Won Opp Date

In [116]:
df.tail()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners
38615,Region C,Country 16,2022-01-14,0016R0000378sYO,Onboarding,NaT,NaN,NaT,NaN
38616,Region C,Country 16,2022-01-14,0016R0000378sYT,Onboarding,NaT,NaN,NaT,NaN
38617,Region C,Country 16,2022-01-14,0016R0000378sYY,Onboarding,NaT,NaN,NaT,NaN
38618,Region C,Country 16,2022-01-15,0016R0000378vuy,Onboarding,NaT,NaN,NaT,NaN
38619,Region C,Country 16,2022-01-15,0016R0000378vvm,Onboarding,NaT,NaN,NaT,NaN

In [117]:
set(df['First Closed Won Opp Date'])

{Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-03 00:00:00'),
 Timestamp('2021-09-04 00:00:00'),
 Timestamp('2021-09-05 00:00:00'),
 Timestamp('2021-09-06 00:00:00'),
 Timestamp('2021-09-07 00:00:00'),
 Timestamp('2021-09-08 00:00:00'),
 Timestamp('2021-09-09 00:00:00'),
 Timestamp('2021-09-10 00:00:00'),
 Timestamp('2021-09-11 00:00:00'),
 Timestamp('2021-09-12 00:00:00'),
 Timestamp('2021-09-13 00:00:00'),
 Timestamp('2021-09-14 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-17 00:00:00'),
 Timestamp('2021-09-18 00:00:00'),
 Timestamp('2021-09-19 00:00:00'),
 Timestamp('2021-09-20 00:00:00'),
 Timestamp('2021-09-21 00:00:00'),
 Timestamp('2021-09-22 00:00:00'),
 Timestamp('2021-09-23 00:00:00'),
 Timestamp('2021-09-24 00:00:00'),
 Timestamp('2021-09-25 00:00:00'),
 Timestamp('2021-09-26 00:00:00'),
 Timestamp('2021-09-27 00:00:00'),
 Timestamp('2021-09-28 00:00:00'),
 Timestamp('2021-09-29 00:00:00'),
 Timestamp('2021-09-30 00:00:00'),
 Timestamp('2021-10-01 00:00:00'),
 Timestamp('2021-10-02 00:00:00'),
 Timestamp('2021-10-03 00:00:00'),
 Timestamp('2021-10-04 00:00:00'),
 Timestamp('2021-10-05 00:00:00'),
 Timestamp('2021-10-06 00:00:00'),
 Timestamp('2021-10-07 00:00:00'),
 Timestamp('2021-10-08 00:00:00'),
 Timestamp('2021-10-09 00:00:00'),
 Timestamp('2021-10-10 00:00:00'),
 Timestamp('2021-10-11 00:00:00'),
 Timestamp('2021-10-12 00:00:00'),
 Timestamp('2021-10-13 00:00:00'),
 Timestamp('2021-10-14 00:00:00'),
 Timestamp('2021-10-15 00:00:00'),
 Timestamp('2021-10-16 00:00:00'),
 Timestamp('2021-10-17 00:00:00'),
 Timestamp('2021-10-18 00:00:00'),
 Timestamp('2021-10-19 00:00:00'),
 Timestamp('2021-10-20 00:00:00'),
 Timestamp('2021-10-21 00:00:00'),
 Timestamp('2021-10-22 00:00:00'),
 Timestamp('2021-10-23 00:00:00'),
 Timestamp('2021-10-24 00:00:00'),
 Timestamp('2021-10-25 00:00:00'),
 Timestamp('2021-10-26 00:00:00'),
 Timestamp('2021-10-27 00:00:00'),
 Timestamp('2021-10-28 00:00:00'),
 Timestamp('2021-10-29 00:00:00'),
 Timestamp('2021-10-30 00:00:00'),
 Timestamp('2021-10-31 00:00:00'),
 Timestamp('2021-11-01 00:00:00'),
 Timestamp('2021-11-02 00:00:00'),
 Timestamp('2021-11-03 00:00:00'),
 Timestamp('2021-11-04 00:00:00'),
 Timestamp('2021-11-05 00:00:00'),
 Timestamp('2021-11-06 00:00:00'),
 Timestamp('2021-11-07 00:00:00'),
 Timestamp('2021-11-08 00:00:00'),
 Timestamp('2021-11-09 00:00:00'),
 Timestamp('2021-11-10 00:00:00'),
 Timestamp('2021-11-11 00:00:00'),
 Timestamp('2021-11-12 00:00:00'),
 Timestamp('2021-11-13 00:00:00'),
 Timestamp('2021-11-14 00:00:00'),
 Timestamp('2021-11-15 00:00:00'),
 Timestamp('2021-11-16 00:00:00'),
 Timestamp('2021-11-17 00:00:00'),
 Timestamp('2021-11-18 00:00:00'),
 Timestamp('2021-11-19 00:00:00'),
 Timestamp('2021-11-20 00:00:00'),
 Timestamp('2021-11-21 00:00:00'),
 Timestamp('2021-11-22 00:00:00'),
 Timestamp('2021-11-23 00:00:00'),
 Timestamp('2021-11-24 00:00:00'),
 Timestamp('2021-11-25 00:00:00'),
 Timestamp('2021-11-26 00:00:00'),
 Timestamp('2021-11-27 00:00:00'),
 Timestamp('2021-11-28 00:00:00'),
 Timestamp('2021-11-29 00:00:00'),
 Timestamp('2021-11-30 00:00:00'),
 Timestamp('2021-12-01 00:00:00'),
 Timestamp('2021-12-02 00:00:00'),
 Timestamp('2021-12-03 00:00:00'),
 Timestamp('2021-12-04 00:00:00'),
 Timestamp('2021-12-05 00:00:00'),
 Timestamp('2021-12-06 00:00:00'),
 Timestamp('2021-12-07 00:00:00'),
 Timestamp('2021-12-08 00:00:00'),
 Timestamp('2021-12-09 00:00:00'),
 Timestamp('2021-12-10 00:00:00'),
 Timestamp('2021-12-11 00:00:00'),
 Timestamp('2021-12-12 00:00:00'),
 Timestamp('2021-12-13 00:00:00'),
 Timestamp('2021-12-14 00:00:00'),
 Timestamp('2021-12-15 00:00:00'),
 Timestamp('2021-12-16 00:00:00'),
 Timestamp('2021-12-17 00:00:00'),
 Timestamp('2021-12-18 00:00:00'),
 Timestamp('2021-12-19 00:00:00'),
 Timestamp('2021-12-20 00:00:00'),
 Timestamp('2021-12-21 00:00:00'),
 Timestamp('2021-12-22 00:00:00'),
 Timestamp('2021-12-23 00:00:00'),
 Timestamp('2021-12-24 00:00:00'),
 Timestamp('2021-12-25 00:00:00'),
 Timestamp('2021-12-26 00:00:00'),
 Timestamp('2021-12-27 00:00:00'),
 Timestamp('2021-12-28 00:00:00'),
 Timestamp('2021-12-29 00:00:00'),
 Timestamp('2021-12-30 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2022-01-01 00:00:00'),
 Timestamp('2022-01-02 00:00:00'),
 Timestamp('2022-01-03 00:00:00'),
 Timestamp('2022-01-04 00:00:00'),
 Timestamp('2022-01-05 00:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2022-01-07 00:00:00'),
 Timestamp('2022-01-08 00:00:00'),
 Timestamp('2022-01-09 00:00:00'),
 Timestamp('2022-01-10 00:00:00'),
 Timestamp('2022-01-11 00:00:00'),
 Timestamp('2022-01-12 00:00:00'),
 Timestamp('2022-01-13 00:00:00'),
 Timestamp('2022-01-14 00:00:00'),
 Timestamp('2022-01-15 00:00:00')}

## Account ID

In [118]:
df[df['Account ID'].isna()]

Empty DataFrame
Columns: [Region, Country, First Closed Won Opp Date, Account ID, CSM Status Stage, Activation Date, Highest Product, Last Product usage date, # delivery partners]
Index: []

## CSM Status Stage

In [119]:
set(df['CSM Status Stage'])

{'Active',
 'Active Opportunity',
 'Blocked',
 'Churned',
 'Dead Opportunity',
 'Onboarding',
 'Paused',
 nan}

In [120]:
df[df['CSM Status Stage'].isna()].head()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners
838,Region C,Country 16,2021-09-03,0012E00002bdpC9,NaN,NaT,NaN,2022-01-14 08:35:00,1.0
839,Region C,Country 16,2021-09-03,0012E00002bdpCA,NaN,NaT,NaN,2022-01-14 08:35:00,1.0
840,Region C,Country 16,2021-09-03,0012E00002bdpCB,NaN,NaT,NaN,2022-01-14 08:35:00,1.0
841,Region C,Country 16,2021-09-03,0012E00002bdpCC,NaN,NaT,NaN,2022-01-14 08:35:00,2.0
842,Region C,Country 16,2021-09-03,0012E00002bdpCD,NaN,NaT,NaN,2022-01-14 08:35:00,1.0

## Activation Date

In [121]:
df[['Activation Date']].head()

  Activation Date
0      2021-09-28
1      2021-10-04
2      2021-10-01
3      2021-10-01
4      2021-10-01

## Highes product

In [122]:
set(df['Highest Product'])

{'Basic', 'Core', 'Premium', nan}

In [123]:
df['Highest Product'] = df['Highest Product'].replace(np.nan, 'Basic')

In [124]:
set(df['Highest Product'])

{'Basic', 'Core', 'Premium'}

In [125]:
df.head()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners
0,Region A,Country 1,2021-09-22,0012E00002b5a1J,Active,2021-09-28,Basic,2022-01-13 08:44:00,2.0
1,Region A,Country 8,2021-09-16,0012E00002b5Zvf,Active,2021-10-04,Basic,2022-01-13 13:26:00,4.0
2,Region C,Country 16,2021-10-01,0012E00002b8A7b,Active,2021-10-01,Basic,NaT,1.0
3,Region C,Country 16,2021-10-01,0012E00002b8Ail,Active,2021-10-01,Basic,NaT,1.0
4,Region C,Country 16,2021-10-01,0012E00002b8AMp,Active,2021-10-01,Basic,NaT,1.0

## # delivery partners

In [126]:
df['# delivery partners'].describe()

count    29865.000000
mean         1.330722
std          0.990419
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          7.000000
Name: # delivery partners, dtype: float64

## NaNs by Region

In [127]:
df['CSM Status Stage'].isnull().groupby([df['Region']]).sum().astype(int).reset_index(name='count')

     Region  count
0  Region A      1
1  Region B      3
2  Region C     44
3  Region D      3
4   Unknown      0

In [128]:
df.to_excel('data/data_clean.xlsx')

# Feature engineering

## `has_logged_in`

In [129]:
def has_logged_in(row):
    if row['Last Product usage date'] is pd.NaT:
        val = False
    else:
        val = True
    return val

df['has_logged_in'] = df.apply(has_logged_in, axis=1)
print(len(df))
df.head()

38620

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners,has_logged_in
0,Region A,Country 1,2021-09-22,0012E00002b5a1J,Active,2021-09-28,Basic,2022-01-13 08:44:00,2.0,True
1,Region A,Country 8,2021-09-16,0012E00002b5Zvf,Active,2021-10-04,Basic,2022-01-13 13:26:00,4.0,True
2,Region C,Country 16,2021-10-01,0012E00002b8A7b,Active,2021-10-01,Basic,NaT,1.0,False
3,Region C,Country 16,2021-10-01,0012E00002b8Ail,Active,2021-10-01,Basic,NaT,1.0,False
4,Region C,Country 16,2021-10-01,0012E00002b8AMp,Active,2021-10-01,Basic,NaT,1.0,False

In [130]:
df.dtypes

Region                               object
Country                              object
First Closed Won Opp Date    datetime64[ns]
Account ID                           object
CSM Status Stage                     object
Activation Date              datetime64[ns]
Highest Product                      object
Last Product usage date      datetime64[ns]
# delivery partners                 float64
has_logged_in                          bool
dtype: object

## Delta `activation date` & `won opp`

Columns on Google sheet follow different format:
- `won opp`: MM-DD-YYY
- `activation date`: DD-MM-YYYY

Downloaded to Excel:
- `won opp`: MM-DD-YYY
- `activation date`: DD-MM-YYYY

In [131]:
# read Excel
pd.read_excel('data/data.xlsx').head()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners
0,Region A,Country 1,2021-09-22,0012E00002b5a1J,Active,2021-09-28,NaN,2022-01-13 08:44:00,2.0
1,Region A,Country 8,2021-09-16,0012E00002b5Zvf,Active,2021-10-04,NaN,2022-01-13 13:26:00,4.0
2,Region C,Country 16,2021-10-01,0012E00002b8A7b,Active,2021-10-01,NaN,NaT,1.0
3,Region C,Country 16,2021-10-01,0012E00002b8Ail,Active,2021-10-01,NaN,NaT,1.0
4,Region C,Country 16,2021-10-01,0012E00002b8AMp,Active,2021-10-01,NaN,NaT,1.0

`won opp` has changed from MM-DD-YYYY to YYY-MM-DD (!)  
`activation date` has changed from DD-MM-YYYY to YYYY-MM-DD (!)

In [132]:
# try setting the date format
df_excel = pd.read_excel('data/data.xlsx', parse_dates=['First Closed Won Opp Date', 'Activation Date'], date_parser=lambda x: pd.to_datetime(x, format='%YYYY-%MM-%DD'))
df_excel.head()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners
0,Region A,Country 1,2021-09-22,0012E00002b5a1J,Active,2021-09-28,NaN,2022-01-13 08:44:00,2.0
1,Region A,Country 8,2021-09-16,0012E00002b5Zvf,Active,2021-10-04,NaN,2022-01-13 13:26:00,4.0
2,Region C,Country 16,2021-10-01,0012E00002b8A7b,Active,2021-10-01,NaN,NaT,1.0
3,Region C,Country 16,2021-10-01,0012E00002b8Ail,Active,2021-10-01,NaN,NaT,1.0
4,Region C,Country 16,2021-10-01,0012E00002b8AMp,Active,2021-10-01,NaN,NaT,1.0

In [133]:
df_excel['test'] = df_excel['Activation Date'] - df_excel['First Closed Won Opp Date']
df_excel[df_excel['test'] < pd.Timedelta(0)].head()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners,test
21,Region A,Country 1,2021-09-02,0012E00002bc2Hj,Churned,2021-09-01,Core,NaT,0.0,-1 days
45,Region A,Country 1,2021-12-01,0012E00002bcf5g,Active,2021-11-30,NaN,NaT,NaN,-1 days
49,Region A,Country 1,2021-12-01,0012E00002bcGMs,Active,2021-11-30,NaN,NaT,1.0,-1 days
69,Region A,Country 1,2021-09-03,0012E00002bcKIf,Active,2021-09-02,Core,2021-12-22 13:30:00,0.0,-1 days
107,Region A,Country 1,2021-10-28,0012E00002bcQw4,Active,2021-10-03,NaN,NaT,NaN,-25 days

Dates seem to be wrong, since Activation Date happens before Won Opp. And dates like "2021-09-22" and "2021-09-28" have to be right, day and month can't be interchanged.

In [134]:
df.dtypes

Region                               object
Country                              object
First Closed Won Opp Date    datetime64[ns]
Account ID                           object
CSM Status Stage                     object
Activation Date              datetime64[ns]
Highest Product                      object
Last Product usage date      datetime64[ns]
# delivery partners                 float64
has_logged_in                          bool
dtype: object

## Year & month

In [135]:
df['date_activation'] = df['Activation Date'].dt.date
df['year_activation'] = df['Activation Date'].dt.year
df['month_activation'] = df['Activation Date'].dt.month

df['date_usage'] = df['Last Product usage date'].dt.date
df['year_usage'] = df['Last Product usage date'].dt.year
df['month_usage'] = df['Last Product usage date'].dt.month
df.head()

,Region,Country,First Closed Won Opp Date,Account ID,CSM Status Stage,Activation Date,Highest Product,Last Product usage date,# delivery partners,has_logged_in,date_activation,year_activation,month_activation,date_usage,year_usage,month_usage
0,Region A,Country 1,2021-09-22,0012E00002b5a1J,Active,2021-09-28,Basic,2022-01-13 08:44:00,2.0,True,2021-09-28,2021.0,9.0,2022-01-13,2022.0,1.0
1,Region A,Country 8,2021-09-16,0012E00002b5Zvf,Active,2021-10-04,Basic,2022-01-13 13:26:00,4.0,True,2021-10-04,2021.0,10.0,2022-01-13,2022.0,1.0
2,Region C,Country 16,2021-10-01,0012E00002b8A7b,Active,2021-10-01,Basic,NaT,1.0,False,2021-10-01,2021.0,10.0,NaT,NaN,NaN
3,Region C,Country 16,2021-10-01,0012E00002b8Ail,Active,2021-10-01,Basic,NaT,1.0,False,2021-10-01,2021.0,10.0,NaT,NaN,NaN
4,Region C,Country 16,2021-10-01,0012E00002b8AMp,Active,2021-10-01,Basic,NaT,1.0,False,2021-10-01,2021.0,10.0,NaT,NaN,NaN

In [136]:
df.dtypes

Region                               object
Country                              object
First Closed Won Opp Date    datetime64[ns]
Account ID                           object
CSM Status Stage                     object
Activation Date              datetime64[ns]
Highest Product                      object
Last Product usage date      datetime64[ns]
# delivery partners                 float64
has_logged_in                          bool
date_activation                      object
year_activation                     float64
month_activation                    float64
date_usage                           object
year_usage                          float64
month_usage                         float64
dtype: object

In [137]:
df.to_excel('data/data_clean.xlsx')